*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/build
/app/release
/app/debug
/app/keys
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/keys
/*.env